<hr />
<div class="container">
  <form [formGroup]="userDetails" (ngSubmit)="onSubmit()">
    <div formGroupName="fgFullName" class="mb-3">
      <div class="mb-3">
        <label for="fName" class="form-label">First name:</label>
        <input
          type="text"
          name="fName"
          class="form-control"
          formControlName="firstName"
        >
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
          <div *ngIf="firstName.errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="firstName.errors?.['minlength']">
            Name is too short.
          </div>
          <div *ngIf="firstName.errors?.['alphaCheck']">
            Name cannot have numeric values or special characters.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="lName" class="form-label">Last name:</label>
        <input
          type="text"
          name="lName"
          class="form-control"
          formControlName="lastName"
        >
      </div>
    </div>
    <input
      type="submit"
      value="submit"
      [disabled]="userDetails.invalid"
      class="btn btn-primary"
    >
    <input
      type="reset"
      value="reset"
      (click)="userDetails.reset()"
      class="btn btn-warning"
    >
  </form>
</div>
<router-outlet />